* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
h1 {
  text-align: center;
  margin-top: 2rem;
}
body {
  height: 100vh;
  background: lavender;
}
.conainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: antiquewhite;
  height: 400px;
  width: 400px;
}
header {
  text-align: center;
  margin: 5px;
  font-size: 2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.conainer .input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  outline: none;
  width: 100%;
}
.input input[type="text"] {
  padding: 5px;
  font-size: 1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.input button {
  padding: 5px;
  margin-left: 10px;
  cursor: pointer;
}
.footer button {
  padding: 3px;
  cursor: pointer;
}
.footer {
  display: flex;
  justify-content: space-around;
}
